<?xml version="1.0" encoding="UTF-8"?>
<settings>
	<setting propertyKey="@Properties.appName" title="@Strings.appName">
		<settingConfig type="alphaNumeric" readonly="true" />
	</setting>
	<setting propertyKey="@Properties.appVersion" title="@Strings.appVersion">
		<settingConfig type="alphaNumeric" readonly="true" />
	</setting>
	<setting propertyKey="@Properties.bgCol_prop" title="@Strings.bgCol"
		prompt="@Strings.colPrompt">
		<settingConfig type="list">
			<listEntry value="0x000000">@Strings.blackCol</listEntry>
			<listEntry value="0x555555">@Strings.dkgrayCol</listEntry>
			<listEntry value="0xAAAAAA">@Strings.ltgrayCol</listEntry>
			<listEntry value="0xFF0000">@Strings.redCol</listEntry>
			<listEntry value="0x0000FF">@Strings.dkblueCol</listEntry>
			<listEntry value="0x00AAFF">@Strings.blueCol</listEntry>
			<listEntry value="0x00FF00">@Strings.greenCol</listEntry>
			<listEntry value="0xFF5500">@Strings.orangeCol</listEntry>
			<listEntry value="0xFF00FF">@Strings.pinkCol</listEntry>
			<listEntry value="0xFFFFFF">@Strings.whiteCol</listEntry>
			<listEntry value="0xAA0000">@Strings.dkredCol</listEntry>
			<listEntry value="0xFFAA00">@Strings.yellowCol</listEntry>
			<listEntry value="0x00AA00">@Strings.dkgreenCol</listEntry>
			<listEntry value="0xAA00FF">@Strings.purpleCol</listEntry>
		</settingConfig>
	</setting>
	<setting propertyKey="@Properties.timeOnCol_prop" title="@Strings.timeOnCol"
		prompt="@Strings.colPrompt">
		<settingConfig type="list">
			<listEntry value="0xFFFFFF">@Strings.whiteCol</listEntry>
			<listEntry value="0x000000">@Strings.blackCol</listEntry>
			<listEntry value="0x555555">@Strings.dkgrayCol</listEntry>
			<listEntry value="0xAAAAAA">@Strings.ltgrayCol</listEntry>
			<listEntry value="0xFF0000">@Strings.redCol</listEntry>
			<listEntry value="0x0000FF">@Strings.dkblueCol</listEntry>
			<listEntry value="0x00AAFF">@Strings.blueCol</listEntry>
			<listEntry value="0x00FF00">@Strings.greenCol</listEntry>
			<listEntry value="0xFF5500">@Strings.orangeCol</listEntry>
			<listEntry value="0xFF00FF">@Strings.pinkCol</listEntry>
			<listEntry value="0xAA0000">@Strings.dkredCol</listEntry>
			<listEntry value="0xFFAA00">@Strings.yellowCol</listEntry>
			<listEntry value="0x00AA00">@Strings.dkgreenCol</listEntry>
			<listEntry value="0xAA00FF">@Strings.purpleCol</listEntry>
		</settingConfig>
	</setting>
	<setting propertyKey="@Properties.timeOffCol_prop" title="@Strings.timeOffCol"
		prompt="@Strings.colPrompt">
		<settingConfig type="list">
			<listEntry value="0x000000">@Strings.blackCol</listEntry>
			<listEntry value="0xFFFFFF">@Strings.whiteCol</listEntry>
			<listEntry value="0x555555">@Strings.dkgrayCol</listEntry>
			<listEntry value="0xAAAAAA">@Strings.ltgrayCol</listEntry>
			<listEntry value="0xFF0000">@Strings.redCol</listEntry>
			<listEntry value="0x0000FF">@Strings.dkblueCol</listEntry>
			<listEntry value="0x00AAFF">@Strings.blueCol</listEntry>
			<listEntry value="0x00FF00">@Strings.greenCol</listEntry>
			<listEntry value="0xFF5500">@Strings.orangeCol</listEntry>
			<listEntry value="0xFF00FF">@Strings.pinkCol</listEntry>
			<listEntry value="0xAA0000">@Strings.dkredCol</listEntry>
			<listEntry value="0xFFAA00">@Strings.yellowCol</listEntry>
			<listEntry value="0x00AA00">@Strings.dkgreenCol</listEntry>
			<listEntry value="0xAA00FF">@Strings.purpleCol</listEntry>
		</settingConfig>
	</setting>
	<setting propertyKey="@Properties.btCol_prop" title="@Strings.btCol"
		prompt="@Strings.colPrompt">
		<settingConfig type="list">
			<listEntry value="0x000000">@Strings.blackCol</listEntry>
			<listEntry value="0xFFFFFF">@Strings.whiteCol</listEntry>
			<listEntry value="0x555555">@Strings.dkgrayCol</listEntry>
			<listEntry value="0xAAAAAA">@Strings.ltgrayCol</listEntry>
			<listEntry value="0xFF0000">@Strings.redCol</listEntry>
			<listEntry value="0x0000FF">@Strings.dkblueCol</listEntry>
			<listEntry value="0x00AAFF">@Strings.blueCol</listEntry>
			<listEntry value="0x00FF00">@Strings.greenCol</listEntry>
			<listEntry value="0xFF5500">@Strings.orangeCol</listEntry>
			<listEntry value="0xFF00FF">@Strings.pinkCol</listEntry>
			<listEntry value="0xAA0000">@Strings.dkredCol</listEntry>
			<listEntry value="0xFFAA00">@Strings.yellowCol</listEntry>
			<listEntry value="0x00AA00">@Strings.dkgreenCol</listEntry>
			<listEntry value="0xAA00FF">@Strings.purpleCol</listEntry>
		</settingConfig>
	</setting>
	<setting propertyKey="@Properties.alarmCol_prop" title="@Strings.alarmCol"
		prompt="@Strings.colPrompt">
		<settingConfig type="list">
			<listEntry value="0x000000">@Strings.blackCol</listEntry>
			<listEntry value="0xFFFFFF">@Strings.whiteCol</listEntry>
			<listEntry value="0x555555">@Strings.dkgrayCol</listEntry>
			<listEntry value="0xAAAAAA">@Strings.ltgrayCol</listEntry>
			<listEntry value="0xFF0000">@Strings.redCol</listEntry>
			<listEntry value="0x0000FF">@Strings.dkblueCol</listEntry>
			<listEntry value="0x00AAFF">@Strings.blueCol</listEntry>
			<listEntry value="0x00FF00">@Strings.greenCol</listEntry>
			<listEntry value="0xFF5500">@Strings.orangeCol</listEntry>
			<listEntry value="0xFF00FF">@Strings.pinkCol</listEntry>
			<listEntry value="0xAA0000">@Strings.dkredCol</listEntry>
			<listEntry value="0xFFAA00">@Strings.yellowCol</listEntry>
			<listEntry value="0x00AA00">@Strings.dkgreenCol</listEntry>
			<listEntry value="0xAA00FF">@Strings.purpleCol</listEntry>
		</settingConfig>
	</setting>
	<setting propertyKey="@Properties.msgCol_prop" title="@Strings.msgCol"
		prompt="@Strings.colPrompt">
		<settingConfig type="list">
			<listEntry value="0x000000">@Strings.blackCol</listEntry>
			<listEntry value="0xFFFFFF">@Strings.whiteCol</listEntry>
			<listEntry value="0x555555">@Strings.dkgrayCol</listEntry>
			<listEntry value="0xAAAAAA">@Strings.ltgrayCol</listEntry>
			<listEntry value="0xFF0000">@Strings.redCol</listEntry>
			<listEntry value="0x0000FF">@Strings.dkblueCol</listEntry>
			<listEntry value="0x00AAFF">@Strings.blueCol</listEntry>
			<listEntry value="0x00FF00">@Strings.greenCol</listEntry>
			<listEntry value="0xFF5500">@Strings.orangeCol</listEntry>
			<listEntry value="0xFF00FF">@Strings.pinkCol</listEntry>
			<listEntry value="0xAA0000">@Strings.dkredCol</listEntry>
			<listEntry value="0xFFAA00">@Strings.yellowCol</listEntry>
			<listEntry value="0x00AA00">@Strings.dkgreenCol</listEntry>
			<listEntry value="0xAA00FF">@Strings.purpleCol</listEntry>
		</settingConfig>
	</setting>
	<setting propertyKey="@Properties.batWCol_prop" title="@Strings.batWCol"
		prompt="@Strings.colPrompt">
		<settingConfig type="list">
			<listEntry value="0x000000">@Strings.blackCol</listEntry>
			<listEntry value="0xFFFFFF">@Strings.whiteCol</listEntry>
			<listEntry value="0x555555">@Strings.dkgrayCol</listEntry>
			<listEntry value="0xAAAAAA">@Strings.ltgrayCol</listEntry>
			<listEntry value="0xFF0000">@Strings.redCol</listEntry>
			<listEntry value="0x0000FF">@Strings.dkblueCol</listEntry>
			<listEntry value="0x00AAFF">@Strings.blueCol</listEntry>
			<listEntry value="0x00FF00">@Strings.greenCol</listEntry>
			<listEntry value="0xFF5500">@Strings.orangeCol</listEntry>
			<listEntry value="0xFF00FF">@Strings.pinkCol</listEntry>
			<listEntry value="0xAA0000">@Strings.dkredCol</listEntry>
			<listEntry value="0xFFAA00">@Strings.yellowCol</listEntry>
			<listEntry value="0x00AA00">@Strings.dkgreenCol</listEntry>
			<listEntry value="0xAA00FF">@Strings.purpleCol</listEntry>
		</settingConfig>
	</setting>
	<setting propertyKey="@Properties.batWarn_prop" title="@Strings.batWPrompt">
		<settingConfig type="numeric" min="0" max="100"
			errorMessage="@Strings.batValueError" />
	</setting>
	<setting propertyKey="@Properties.countShow_prop" title="@Strings.showCount">
		<settingConfig type="boolean" />
	</setting>
	<setting propertyKey="@Properties.batShow_prop" title="@Strings.showBat">
		<settingConfig type="boolean" />
	</setting>
	<setting propertyKey="@Properties.dateShow_prop" title="@Strings.showDate">
		<settingConfig type="boolean" />
	</setting>
	<setting propertyKey="@Properties.timed_prop" title="@Strings.timed"
		prompt="@Strings.timedPrompt">
		<settingConfig type="boolean" />
	</setting>
	<setting propertyKey="@Properties.timedOn_prop" title="@Strings.timedOn">
		<settingConfig type="numeric" min="0" max="23"
			errorMessage="@Strings.timedValueError" />
	</setting>
	<setting propertyKey="@Properties.timedOff_prop" title="@Strings.timedOff">
		<settingConfig type="numeric" min="0" max="23"
			errorMessage="@Strings.timedValueError" />
	</setting>
	<setting propertyKey="@Properties.timedCol_prop" title="@Strings.timedCol"
		prompt="@Strings.colPrompt">
		<settingConfig type="list">
			<listEntry value="0x000000">@Strings.blackCol</listEntry>
			<listEntry value="0xFFFFFF">@Strings.whiteCol</listEntry>
			<listEntry value="0x555555">@Strings.dkgrayCol</listEntry>
			<listEntry value="0xAAAAAA">@Strings.ltgrayCol</listEntry>
			<listEntry value="0xFF0000">@Strings.redCol</listEntry>
			<listEntry value="0x0000FF">@Strings.dkblueCol</listEntry>
			<listEntry value="0x00AAFF">@Strings.blueCol</listEntry>
			<listEntry value="0x00FF00">@Strings.greenCol</listEntry>
			<listEntry value="0xFF5500">@Strings.orangeCol</listEntry>
			<listEntry value="0xFF00FF">@Strings.pinkCol</listEntry>
			<listEntry value="0xAA0000">@Strings.dkredCol</listEntry>
			<listEntry value="0xFFAA00">@Strings.yellowCol</listEntry>
			<listEntry value="0x00AA00">@Strings.dkgreenCol</listEntry>
			<listEntry value="0xAA00FF">@Strings.purpleCol</listEntry>
		</settingConfig>
	</setting>
	<setting propertyKey="@Properties.colonPos_prop" title="@Strings.colonPos">
		<settingConfig type="numeric" min="0" max="46"
			errorMessage="@Strings.colonValueError" />
	</setting>
	<setting propertyKey="@Properties.analogShow_prop" title="@Strings.showAnalog"
		prompt="@Strings.analogPrompt">
		<settingConfig type="boolean" />
	</setting>
</settings>
